<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>VRO for dummies</title>
</head>
<body>
<h1 align="center" class="root">
    <span>VRO for dummies</span>
</h1>
<span class="globalOverview">
    <img src="images/vro/VROfordummies.jpg"></span>
<h2 class="topic">
    <span>Organiser l'espace de travail [10 pages]</span>
</h2>
<span class="overview">
    <img src="images/vro/Organiser l'espace de travail [10 pages].jpg"></span>
<p class="topic">
    <span>&nbsp;Structure des dossiers</span>
</p>
<p class="topic">
    <span>&nbsp;Avoir des elements facile &agrave; lire</span>
</p>
<p class="topic">
    <span>&nbsp;Avoir une s&eacute;mantique commune</span>
</p>
<p class="topic">
    <span>&nbsp;Par o&ugrave; commencer ? (ouverture package)</span>
</p>
<p class="topic">
    <span>&nbsp;Synchro entre environnement (VRSLCM)</span>
</p>
<h2 class="topic">
    <span>Travailler &agrave; plusieurs [10 pages]</span>
</h2>
<span class="overview">
    <img src="images/vro/Travailler %C3%A0 plusieurs [10 pages].jpg"></span>
<p class="topic">
    <span>&nbsp;Utiliser une icone par dev</span>
</p>
<p class="topic">
    <span>&nbsp;Permissions utilisateurs</span>
</p>
<p class="topic">
    <span>&nbsp;Travailler sur le m&ecirc;me noeud du cluster</span>
</p>
<p class="topic">
    <span>&nbsp;Backup des packages</span>
</p>
<p class="topic">
    <span>&nbsp;Transfert avec un Vro sur une machine locale</span>
</p>
<h2 class="topic">
    <span>Comment faire une documentation de mco et d'impacts</span>
</h2>
<span class="overview">
    <img src="images/vro/Comment faire une documentation de mco et d'impacts.jpg"></span>
<p class="topic">
    <span>&nbsp;Comment g&eacute;nerer une doc</span>
</p>
<p class="topic">
    <span>&nbsp;Conf common</span>
</p>
<span class="overview">
    <img src="images/vro/Conf common.jpg"></span>
<p class="topic">
    <span>&nbsp;&nbsp;1 ou plusieurs selon le contexte</span>
</p>
<h2 class="topic">
    <span>Design de service: how to</span>
</h2>
<span class="overview">
    <img src="images/vro/Design de service  how to.jpg"></span>
<p class="topic">
    <span>&nbsp;Definition du service</span>
</p>
<p class="topic">
    <span>&nbsp;Mise en place d'un sch&eacute;ma du use case (processus client)</span>
</p>
<span class="overview">
    <img src="images/vro/Mise en place d'un sch%C3%A9ma du use case (processus client).jpg"></span>
<p class="topic">
    <span>&nbsp;&nbsp;High level</span>
</p>
<p class="topic">
    <span>&nbsp;&nbsp;Low level</span>
</p>
<p class="topic">
    <span>&nbsp;Identifier les d&eacute;pendances internes et externes au service</span>
</p>
<p class="topic">
    <span>&nbsp;Syth&eacute;tiser les diff&eacute;rentes solutions propos&eacute;es et
        justifier le choix de la solution finale</span>
</p>
<p class="topic">
    <span>&nbsp;Designer une interface</span>
</p>
<p class="topic">
    <span>&nbsp;Avoir une analyse par flux des process </span>
</p>
<span class="overview">
    <img src="/src/images/vro/a.jpg"></span>
<p class="topic">
    <span>&nbsp;&nbsp;Approval/s&eacute;curit&eacute;</span>
</p>
<p class="topic">
    <span>&nbsp;&nbsp;processus avec l'externe ( appliances, API, etc..)</span>
</p>
<p class="topic">
    <span>&nbsp;&nbsp;Processus interne (VRO, VRA, vision code purement "logique" )</span>
</p>
<p class="topic">
    <span>&nbsp;Identifier les configurations li&eacute;es au service</span>
</p>
<span class="overview">
    <img src="images/vro/Identifier les configurations li%C3%A9es au service.jpg"></span>
<p class="topic">
    <span>&nbsp;&nbsp;Configuration manuelles pour le fonctionnement du service</span>
</p>
<p class="topic">
    <span>&nbsp;&nbsp;Configuration gr&eacute;n&eacute;r&eacute; et/ou modifi&eacute; par
        le service</span>
</p>
<h2 class="topic">
    <span>Profilage de l'&eacute;quipe et du besoin client</span>
</h2>
<span class="overview">
    <img src="images/vro/Profilage de l'%C3%A9quipe et du besoin client.jpg"></span>
<p class="topic">
    <span>&nbsp;D&eacute;finition du contexte</span>
</p>
<p class="topic">
    <span>&nbsp;Identifier les besoins du client</span>
</p>
<p class="topic">
    <span>&nbsp;Identifier les pr&eacute;requis necessaire &agrave; un service</span>
</p>
<p class="topic">
    <span>&nbsp;Identifier et &eacute;valuer les risques potentiels</span>
</p>
<p class="topic">
    <span>&nbsp;Effectuer une validation du service (demonstration)</span>
</p>
<h2 class="topic">
    <span>Orchestration vs Automation [5 pages]</span>
</h2>
<span class="overview">
    <img src="images/vro/Orchestration vs Automation [5 pages].jpg"></span>
<p class="topic">
    <span>&nbsp;Ansible &ne; vro </span>
</p>
<p class="topic">
    <span>&nbsp;D&eacute;velopper en UI</span>
</p>
<p class="topic">
    <span>&nbsp;Proportion de cr&eacute;ation de service (40/30/30)</span>
</p>
<h2 class="topic">
    <span>Annexes</span>
</h2>
<span class="overview">
    <img src="images/vro/Annexes.jpg"></span>
<p class="topic">
    <span>&nbsp;Coding best practice (documentation)</span>
</p>
<p class="topic">
    <span>&nbsp;Codign guidelines (documentation)</span>
</p>
<h2 class="topic">
    <span>Interaction VRO/VRA</span>
</h2>
<span class="overview">
    <img src="images/vro/Interaction VRO VRA.jpg"></span>
<p class="topic">
    <span>&nbsp;Utiliser "entity finder"</span>
</p>
<p class="topic">
    <span>&nbsp;Utiliser le plugin (pagination)</span>
</p>
<p class="topic">
    <span>&nbsp;Utiliser "ODATA" (+de choix comme un client)</span>
</p>
<p class="topic">
    <span>&nbsp;Utiliser REST API (contr&ocirc;le)</span>
</p>
<p class="topic">
    <span>&nbsp;Configuration du plugin</span>
</p>
<p class="topic">
    <span>&nbsp;User du plugin doit avoir acc&egrave;s aux elements</span>
</p>
<p class="topic">
    <span>&nbsp;Acc&egrave;s &agrave; la base local postgreSQL</span>
</p>
<h2 class="topic">
    <span>Espace de travail VRO [10 pages]</span>
</h2>
<span class="overview">
    <img src="images/vro/Espace de travail VRO [10 pages].jpg"></span>
<p class="topic">
    <span>&nbsp;Les menus</span>
</p>
<span class="overview">
    <img src="images/vro/Les menus.jpg"></span>
<p class="topic">
    <span>&nbsp;&nbsp;Workflow</span>
</p>
<p class="topic">
    <span>&nbsp;&nbsp;Actions</span>
</p>
<p class="topic">
    <span>&nbsp;&nbsp;Resource Elements</span>
</p>
<p class="topic">
    <span>&nbsp;&nbsp;...</span>
</p>
<p class="topic">
    <span>&nbsp;Les diff&eacute;rents workflows</span>
</p>
<span class="overview">
    <img src="images/vro/Les  diff%C3%A9rents workflows.jpg"></span>
<p class="topic">
    <span>&nbsp;&nbsp;Nested</span>
</p>
<p class="topic">
    <span>&nbsp;&nbsp;Asynch</span>
</p>
<p class="topic">
    <span name="7gnno59954ibgf8drehfamqgng">&nbsp;&nbsp;...</span>
</p>
<p class="topic">
    <span name="64e86tuf76cu5uapn3g8g6me0t">&nbsp;La pr&eacute;sentation</span>
</p>
<p class="topic">
    <span name="6d1nh2d679hrrk7g86upm4s79s">&nbsp;Outil de debug et breakpoint</span>
</p>
<p class="topic">
    <span name="2f7gabq7k0ocpfj8eqd95ka0e0">&nbsp;Qu'est ce qu'un cluster et pourquoi en avoir un ?</span>
</p>
<span class="overview">
    <img src="images/vro/Qu'est ce qu'un cluster et pourquoi en avoir un  .jpg"></span>
<p class="topic">
    <span name="5hs00d2olq49b5stqn20l3r8ch">&nbsp;&nbsp;nœuds</span>
</p>
<p class="topic">
    <span name="5nf1ckcl61g8r7vdt0bh9p10fb">&nbsp;&nbsp;vip</span>
</p>
<p class="topic">
    <span name="2jd2ohagtouk7lltevqcrg84cb">&nbsp;&nbsp;limites</span>
</p>
<p class="topic">
    <span name="43msbrcihle2c0np7l8la59btu">&nbsp;Les cli indispensables pour manager l'appliance</span>
</p>
<h2 class="topic">
    <span name="2l5g3ajl80pj28vlii0tfqcp03">Best practices de workflow et actions</span>
</h2>
<span class="overview">
    <img src="images/vro/Best practices de workflow et actions.jpg"></span>
<p class="topic">
    <span name="0otsdl52k4ah2fmck103all7l6">&nbsp;Avanc&eacute;</span>
</p>
<span class="overview">
    <img src="images/vro/Avanc%C3%A9.jpg"></span>
<p class="topic">
    <span name="4f1692ldbkbao6j3se70bmlj3h">&nbsp;&nbsp;Comment optimiser l'affichage et l'execution d'un XaaS</span>
</p>
<span class="overview">
    <img src="images/vro/Comment optimiser l'affichage et l'execution d'un XaaS.jpg"></span>
<p class="topic">
    <span name="1tak6lot41m12jue0ksgfm8gmp">&nbsp;&nbsp;&nbsp;OGNL</span>
</p>
<p class="topic">
    <span name="4b70hj0hfqqu789rhdtktduksb">&nbsp;&nbsp;&nbsp;cache / traitement asynchrone</span>
</p>
<p class="topic">
    <span name="35v9spkv1m9ds76qfovg7i1oll">&nbsp;&nbsp;Comment cr&eacute;er et utiliser les Dynamic Types</span>
</p>
<span class="overview">
    <img src="images/vro/Comment%20créer%20et%20utiliser%20les%20Dynamic%20Types.jpg"></span>
<p class="topic">
    <span name="1epeddvv428aav84ftv5bben3i">&nbsp;&nbsp;&nbsp;cr&eacute;ation</span>
</p>
<p class="topic">
    <span name="28nt4vqveoa8s3f2so4egcfki0">&nbsp;&nbsp;&nbsp;Workflow vs action</span>
</p>
<p class="topic">
    <span name="1ek99r9vgn87k7oaue85vq6iqq">&nbsp;&nbsp;&nbsp;Limites de l'outil</span>
</p>
<p class="topic">
    <span name="2d14qcoi6kmau9rhfpjb3d7hb6">&nbsp;&nbsp;Best practices pour binder une variable dans un XaaS</span>
</p>
<p class="topic">
    <span name="3jrho1a2hf6g58tjdod55ni3mn">&nbsp;&nbsp;Scaling du code : Avoir un code toujours efficace en environnement
        de production (volumes importants)</span>
</p>
<p class="topic">
    <span name="0uioml7jgurqu9bc9dv8mcn27i">&nbsp;&nbsp;Gestion des exeptions plus fine avec une mise en place de "Try
        catch"</span>
</p>
<p class="topic">
    <span name="4leaj0vitrlrkv626l2bph1i34">&nbsp;&nbsp;comment coder avec des API ?</span>
</p>
<span class="overview">
    <img src="images/vro/comment coder avec des API  .jpg"></span>
<p class="topic">
    <span name="7dc6iguk906fgss8bf2nateq4c">&nbsp;&nbsp;&nbsp;Url dans configuration elements vs REST operation</span>
</p>
<p class="topic">
    <span name="2807if568usc9rjh4e2atd0ifi">&nbsp;&nbsp;&nbsp;Pr&eacute;voir les errors du user</span>
</p>
<p class="topic">
    <span name="3eh4q26792il9d6lri0dicq056">&nbsp;normal</span>
</p>
<span class="overview">
    <img src="images/vro/normal.jpg"></span>
<p class="topic">
    <span name="255bv3mpnr0ojqtkci7nas0p65">&nbsp;&nbsp;Comment debugger au mieux ?</span>
</p>
<span class="overview">
    <img src="images/vro/Comment debugger au mieux  .jpg"></span>
<p class="topic">
    <span name="6dsjp8cu40ct4k700gg18rc2ga">&nbsp;&nbsp;&nbsp;Redirection graphique</span>
</p>
<p class="topic">
    <span name="56k9du7p9gridce3d9u5f5jseu">&nbsp;&nbsp;&nbsp;Default error handler</span>
</p>
<p class="topic">
    <span name="1dra5k33qnto0tbvvg55n1e47f">&nbsp;&nbsp;&nbsp;Tracer son code + lecture des variables</span>
</p>
<p class="topic">
    <span name="4pneqk1qd3br97ts0a603kvv29">&nbsp;&nbsp;Les nested workflow</span>
</p>
<span class="overview">
    <img src="images/vro/Les nested workflow.jpg"></span>
<p class="topic">
    <span name="7l8fpsh8jk0j7dolkmicvujnfp">&nbsp;&nbsp;&nbsp;Avantages/Inconv&eacute;nients</span>
</p>
<p class="topic">
    <span name="6crgchm5vv9lvf5v809g1b0pke">&nbsp;&nbsp;Rollback</span>
</p>
<span class="overview">
    <img src="images/vro/Rollback.jpg"></span>
<p class="topic">
    <span name="5sunktsfe9js6140okc9a6u1rd">&nbsp;&nbsp;&nbsp;Pourquoi et quand l'utiliser ?</span>
</p>
<p class="topic">
    <span name="55ad1b4rpq768i5vbl5kv678su">&nbsp;&nbsp;&nbsp;Eviter les erreurs recurcives ! </span>
</p>
<p class="topic">
    <span name="1f9ebei39qu53j0l2mbu30a6qo">&nbsp;&nbsp;Les boucles graphiques</span>
</p>
<p class="topic">
    <span name="61u8akmkpsr06hm8h1pll0qa77">&nbsp;&nbsp;Actions wrapper</span>
</p>
<p class="topic">
    <span name="4tclrfiflseajuds9iome6dl6v">&nbsp;&nbsp;Injection de param&egrave;tres</span>
</p>
<p class="topic">
    <span name="5jqpr5h5llvqlul138plja53o0">&nbsp;&nbsp;Workflow/Action agnostiques</span>
</p>
<p class="topic">
    <span name="6k0g0qo69c3j05e1c84kqhf5ni">&nbsp;&nbsp;Eviter d'injecter des objects (Utilisation de variables
        simples)</span>
</p>
<p class="topic">
    <span name="2md1vct3a4ej8udq2j2s664m2u">&nbsp;&nbsp;Nommer tout</span>
</p>
<p class="topic">
    <span name="3iptkf18040vsnv36gn2rccupa">&nbsp;&nbsp;Segmenter son code</span>
</p>
<p class="topic">
    <span name="0snddnjv4jfkomr1a5iga44bck">&nbsp;&nbsp;Utilisation des locks</span>
</p>
<h2 class="topic">
    <span name="7om45idgeav23dgt8i9tmeu9in">Coding cheat sheet </span>
</h2>
<span class="overview">
    <img src="images/vro/Coding cheat sheet .jpg"></span>
<p class="topic">
    <span name="7gcouc9o861rt8e5g6q6bbal96">&nbsp;Qu'est ce que le javascript ? [Kit de survie]</span>
</p>
<p class="topic">
    <span name="7c177si2k3c31a5ds0qjfu6mu4">&nbsp;Les sp&eacute;cificit&eacute;s de VRO par rapport au JS</span>
</p>
</body>
</html>
