<!--  do Not Show if no session -->
<header *ngIf="session">

    <!-- Branding + Logo -->
    <div class="branding">
        <a href="#" [routerLink]="['/home']" class="nav-link">
            <span class="clr-icon clr-clarity-logo lama-logo"></span>
            <span class="title">Smart Search</span>
        </a>
    </div>

    <!-- Nav Bar with routes -->
    <div class="header-nav" [clr-nav-level]="1">
        <a class="nav-link" href="#" [routerLink]="['home']" routerLinkActive="active">
            <span class="nav-text">Home</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['about']" routerLinkActive="active" disabled>
            <span class="nav-text">Kubernetes</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['snake']" routerLinkActive="active">
            <span class="nav-text">Snake</span>
        </a>
        <a *ngIf="session.type == 'administrator'" class="nav-link" href="#" [routerLink]="['admin/home']"
            routerLinkActive="active">
            <span class="nav-text">Admin</span>
        </a>
    </div>

    <!-- User Settings on the right -->
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger>
                <cds-icon shape="user"></cds-icon>
                {{session.username}} - {{session.type}}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a (click)="logOut()" clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>

<!-- Admin only Sub-nav -->
<nav class="subnav" *ngIf="this.router.url.startsWith('/admin')">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['admin/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['admin/user']" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['admin/destination']" routerLinkActive="active">Destinations</a>
        </li>
    </ul>
</nav>