.border-left
{
  width:5px;
  border-left:3px solid gray;
}
.panel {
   border: 4px;
}
.topic-box {
   height: 100px;
   background-size:cover;
   background-repeat: no-repeat;
}

.topic-beach {
   background-image: url("../images/topics/beach.png");
}
.topic-city {
   background-image: url("../images/topics/city.jpg");
}
.topic-country {
   background-image: url("../images/topics/countryside.png");
}
.topic-ski {
   background-image: url("../images/topics/ski.jpg");
}
