<h1>Liste des utilisateurs</h1>
<button (click)="addUser = true" class="btn btn-success-outline">
    <clr-icon shape="plus" class="is-success"></clr-icon>
    Ajouter un utilisateur
</button>
<div class="row">
    <div class="text-center">
        <p class="lead" *ngIf="loading">Loading...</p>
    </div>
    <div *ngFor="let user of users;let i = index" [class.offset-md-1]="i % 2 == 0"
         class=" col-md-5 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <b>Utilisateur</b>
            </div>
            <div class="card-block">
                <div class="card-title">
                    <clr-icon shape="user"
                              [ngStyle]="{'color':user.gender === 'men' ? '#343DAC' : (user.gender === 'woman' ? '#F1428A' : null) }"></clr-icon>
                    {{user.firstName}} - {{user.lastName}}
                </div>
                <div class="card-text">
                    <ul>
                        <li>id : {{user.id}}</li>
                        <li>Email : {{user.email}}</li>

                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Modifier</button>
                <button class="btn btn-sm btn-warning-outline" (click)="deleteUser(user)">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<clr-modal [(clrModalOpen)]="addUser">
    <h3  [class.text-danger]="errorForm" class="modal-title text-danger">Ajout d'un utilisateur </h3>
    <div class="modal-body">
        <form class="compact">
            <section class="form-block">
                <label>Informations</label>
                <div class="form-group">
                    <label for="firstName">FirstName</label>
                    <input [(ngModel)]="form_firstName" name="firstName" type="text" id="firstName"
                           placeholder="Enter value here" size="45">
                </div>
                <div class="form-group">
                    <label for="lastName">LastName</label>
                    <input [(ngModel)]="form_lastName" name="lastName" type="text" id="lastName"
                           placeholder="Enter another value here" size="35">
                </div>
                <div class="form-group">
                    <label for="lastName">Email</label>
                    <input [(ngModel)]="form_email" name="email" type="email" id="email"
                           placeholder="Enter another value here" size="35">
                </div>
                <div class="form-group">
                    <label for="gender">gender</label>
                    <div class="select">
                        <select [(ngModel)]="form_gender" name="gender" id="gender" value="other">
                            <option>other</option>
                            <option>men</option>
                            <option>woman</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div *ngIf="errorForm" class="text-danger text-left"><clr-icon shape="error-standard" class="is-danger"></clr-icon> User already exist!
                    </div>
                    <button type="submit" (click)="addUser = sendUser()" class="btn btn-primary">Submit</button>
                </div>

            </section>
        </form>
    </div>
</clr-modal>
