<p>
    liste des users
</p>
     <div class="row" >
         <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12" *ngFor="let user of users">
             <div class="card">
                 <div class="card-header">

                 </div>
                 <div class="card-block">
                     <div class="card-title">
                         <clr-icon shape="user" [ngStyle]="{'color':user.gender === null ? null : (user.gender === 'men' ? '#343DAC' : '#F1428A') }"></clr-icon>
                         {{user.firstName}} - {{user.lastName}}
                     </div>
                     <div class="card-text">
                         <ul>
                              <li>id : {{user.id}}</li>
                             <li>Email : {{user.email}}</li>

                         </ul>
                     </div>
                 </div>
                 <div class="card-footer">
                     <button class="btn btn-sm btn-link">Modifier</button>
                     <button class="btn btn-sm btn-warning-outline ">Supprimer</button>
                 </div>
             </div>
         </div>
     </div>
