<h1>Liste des utilisateurs</h1>
<button (click)="addUser = true" class="btn btn-success-outline">
    <clr-icon shape="plus" class="is-success"></clr-icon>
    Ajouter un utilisateur
</button>
<div class="row">
    <div class="text-center">
        <p class="lead" *ngIf="loading">Loading...</p>
    </div>
    <div *ngFor="let user of users;let i = index" [class.offset-md-1]="i % 2 == 0" class=" col-md-5 col-sm-12 col-xs-12" (click)="showCard(user)">

        <div class="card">
            <div class="card-header">
                <b>Utilisateur</b>
            </div>
            <div class="card-block">
                <div class="card-title">
                    <clr-icon shape="user" [ngStyle]="{'color':user.gender === 'men' ? '#343DAC' : (user.gender === 'woman' ? '#F1428A' : null) }"></clr-icon>
                    {{user.firstName}} - {{user.lastName}}
                </div>
                <div class="card-text">
                    <ul>
                        <li>id : {{user._id}}</li>
                        <li>Email : {{user.email}}</li>

                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Modifier</button>
                <button class="btn btn-sm btn-warning-outline" (click)="deleteUser(user)">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<clr-modal [(clrModalOpen)]="addUser">
    <h3 [class.text-danger]="userForm" class="modal-title text-danger">Ajout d'un utilisateur </h3>
    <div class="modal-body">
        <form class="compact">
            <section class="form-block">
                <label>Informations</label>
                <div class="form-group">
                    <label for="firstName">FirstName</label>
                    <input [(ngModel)]="user.firstName" autocomplete='given-name' name="firstName" type="text" id="firstName" placeholder="Enter value here"
                        size="45">
                </div>
                <div class="form-group">
                    <label for="lastName">LastName</label>
                    <input [(ngModel)]="user.lastName" name="lastName" type="text" id="lastName" placeholder="Enter another value here" size="35">
                </div>
                <div class="form-group">
                    <label for="lastName">Email</label>
                    <input [(ngModel)]="user.email" autocomplete='email' name="email" type="email" id="email" placeholder="Enter another value here"
                        size="35">
                </div>
                <!-- <div class="form-group">
                    <label for="gender">gender</label>
                    <div class="select">
                        <select [(ngModel)]="user.gender" name="gender" id="gender" value="other">
                            <option>other</option>
                            <option>men</option>
                            <option>woman</option>
                        </select>
                    </div>
                </div> -->
                <div class="modal-footer">
                    <button type="submit" (click)="addUser = sendUser(user)" class="btn btn-primary">Submit</button>
                </div>
            </section>
        </form>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="showUser" [clrModalSize]="'xl'">
    <div class="modal-title">
        <clr-icon shape="user" [ngStyle]="{'color':focusUser.gender === 'men' ? '#343DAC' : (focusUser.gender === 'woman' ? '#F1428A' : null) }"></clr-icon>
        {{focusUser.firstName}} - {{focusUser.lastName}}
    </div>
    <div class="modal-body">
        <ul>
            <li>id : {{focusUser._id}}</li>
            <li>Email : {{focusUser.email}}</li>
        </ul>
        <div class="topic-list">
            <h2>Topics</h2>
            <div class="row">
                <div *ngFor="let topicId of focusUser.topics" class="col-md-4">
                    <div class="card-header">
                        {{topicId}}
                    </div>
                    <a class="card clickable">
                        <div class="card-img">
                            <img [src]="getTopicUrlById(topicId)" onError="this.src='https://via.placeholder.com/400x300?text=Image+not+found'" alt="topic picture">
                        </div>
                        <div class="card-block">
                            <p class="card-text">
                                lorem ipsum 
                            </p>
                        </div>
                        <div class="card-footer">
                                <button class="btn btn-sm btn-warning-outline" (click)="removeTopicFromUser(topicId,focusUser._id)" >Remove</button>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                        <a class="card clickable">
                            <div class="card-img">
                               <img src="https://via.placeholder.com/400x300?text=Image+not+found" alt="image not found">
                            </div>
                            <div class="card-block">
                                <p class="card-text text-right">
                                </p>
                            </div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</clr-modal>
