<div class="topic-list">
  <div class="row">
      <div *ngFor="let topic of topics" class="col-md-4">
          <a [routerLink]="['/topic']" class="card clickable">
            <div class="card-text text-center">
              <h1>{{topic.name}}</h1>
            </div>
              <div class="card-img">
                  <img [src]="getTopicUrlById(topic.id)" onError="this.src='http://via.placeholder.com/800x600?text=Image+not+found'">
              </div>
              <div class="card-block">
                  <h2>Description</h2>
                  <p class="card-text">
                      lorem ipsum - {{topic.id}}
                  </p>
              </div>
          </a>
      </div>
  </div>
</div>
