<clr-main-container>
    <div *ngIf="this.router.url != ('/login')">
        <app-api-health></app-api-health>
        <app-header></app-header>
        <div class="content-container">
                <div class="content-area">
                    <router-outlet></router-outlet>
                </div>
            </div>
    </div>
    <div *ngIf="this.router.url == ('/login')">
        <app-login>
                <span class="spinner">
                        Loading...
                </span>
        </app-login>
    </div>
</clr-main-container>