.clr-icon {
   &.clr-clarity-logo {
       background-image: url("/images/lama.png");
       height: 36px;
       width: 36px;
       margin-right: 11px;
   }
}
.login-wrapper {
    background: url("/images/login.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}