<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Smart Search</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active"><span class="nav-text">About</span></a>
          <a class="nav-link" href="#" [routerLink]="['/login']" routerLinkActive="active"><span class="nav-text">Connexion</span></a>
          <a class="nav-link" href="#" [routerLink]="['/form']" routerLinkActive="active"><span class="nav-text">Rechercher</span></a>
          <a class="nav-link" href="#" [routerLink]="['/users']" routerLinkActive="active"><span class="nav-text">Users</span></a>
      </div>
    <div class="header-actions">
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

    <clr-alert>
        <div class="alert-item">
            <span class="alert-text text-center">
                Ce site web a été <clr-icon shape="code"></clr-icon> avec <clr-icon shape="heart"></clr-icon> par Edouard Topin. Le code source est disponible à l'adresse suivante <a href="https://github.com/doudidas/smart-search-web">GitHub</a>
            </span>
        </div>
    </clr-alert>
</clr-main-container>
