<div class="clr-row">
    <div class="clr-col-4 clr-offset-4">
        <div class="card ">
            <div class="card-header">
                Maintenance
            </div>
            <div class="card-block">
                <div class="clr-align-self-center" style="min-height: 150px">
                        <img class="lama_hoop" src="images/lama_hoop.gif" alt="" style=" float: right;">
                    <p>This page is still under construction !!
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
