<h1>
    Liste des utilisateurs
    <clr-dropdown>
        <button clrDropdownTrigger aria-label="Dropdown demo button">
            <clr-icon shape="cog"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen>
            <label class="dropdown-header" aria-hidden="true">Users per pages</label>
            <div *ngFor="let size of [5,10,20,50,100]">
                <button clrDropdownItem (click)="changesize(size)">{{size}}</button>
            </div>
        </clr-dropdown-menu>
    </clr-dropdown>
</h1>

<button [clrLoading]="submitBtnState" (click)="addUserModal = true" class="btn btn-success-outline">
    <clr-icon shape="plus" class="is-success"></clr-icon>
    Ajouter un utilisateur
</button>
<button [clrLoading]="randomBtnState" (click)="addRandomUser()" class="btn btn-outline">
    <clr-icon shape="bolt" class=""></clr-icon>
    Generate random user
</button>
<div class="clr-row">
    <div *ngFor="let user of users" class="clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-12">
        <a class="card clickable">
            <div class="card-header">
                {{user.firstname}} {{user.lastname}}
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <img class="card-media-image form-picture"
                        [src]="user.picture && user.picture.medium ? user.picture.medium : 'assets/images/default-user-icon.jpg'">
                    <div class="card-media-description">
                        <div class="card-media-title">
                            {{user.username}}
                        </div>
                        <div class="card-media-description">
                            {{user.email}}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link" (click)="showCard(user)">Informations</button>
                            <button class="btn btn-sm btn-warning-outline"
                                (click)="showDeleteUser(user)">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- Delete user confirmation Modal -->
<clr-modal [(clrModalOpen)]="addUserModal" [clrModalStaticBackdrop]="false" (keydown.enter)="submit()"
    [clrModalSize]="'md'">
    <div class="modal-title">
        <h3>Ajouter un nouvel utilisateur</h3>
    </div>
    <div class="modal-body">
        <div class="clr-row">
            <div class="clr-col-6">
                <form clrForm [formGroup]="userForm" clrLayout="vertical">
                    <clr-input-container>
                        <label>Nom</label>
                        <input formControlName="lastname" clrInput type="text" name="lastname" />
                    </clr-input-container>
                    <clr-input-container>
                        <label>Prénom</label>
                        <input formControlName="firstname" clrInput type="text" name="firstname" />
                    </clr-input-container>
                    <clr-input-container>
                        <label>Username</label>
                        <input formControlName="username" clrInput type="text" name="username" required />
                        <clr-control-helper>ex: etopin</clr-control-helper>
                        <clr-control-error>Please provide a username</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Password</label>
                        <input formControlName="password" clrInput type="password" name="password" required />
                        <clr-control-helper>ex: VMware1!</clr-control-helper>
                        <clr-control-error>Please provide a password</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Email</label>
                        <input formControlName="email" clrInput type="email" name="email" required />
                        <clr-control-helper>ex: foo@bar.com</clr-control-helper>
                        <clr-control-error>Please provide an email</clr-control-error>
                    </clr-input-container>
                    <input type="file" hidden #picture (change)="updateImage($event)" />
                </form>
            </div>
            <div class="clr-col-6">
                <button [clrLoading]="uploadBtn"
                    [ngClass]="{'btn-success-outline': this.userPicture != '', 'btn-outline': true}" class="btn"
                    (click)="picture.click();">
                    {{! this.userPicture ? 'Upload': 'Done !'}}
                </button>
                <img class="form-picture"
                    [src]="userPicture != '' ? userPicture : 'assets/images/default-user-icon.jpg'">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="addUserModal = false">Cancel</button>
        <button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
    </div>
</clr-modal>
<!-- More user detail Modal -->
<clr-modal [(clrModalOpen)]="showUser" [clrModalStaticBackdrop]="false" fadeDown>
    <div class="modal-body">
        <img class="card-media-image form-picture"
            [src]="(focusUser.picture && focusUser.picture.large) ? focusUser.picture.large : '/assets/images/default-user-icon.jpg'">
        <table class="table table-noborder table-vertical ">
            <tbody>
                <tr>
                    <th>Firstname</th>
                    <td>{{focusUser.firstname}}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{focusUser.lastname}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{focusUser.username}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{focusUser.email}}</td>
                </tr>
                <tr>
                    <th>Destinations</th>
                    <td>
                        <div *ngFor="let topic of focusUser.topics">
                            <span class="label">{{topic}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</clr-modal>

<!-- Delete user confirmation Modal -->
<clr-modal [(clrModalOpen)]="deleteUser" [clrModalStaticBackdrop]="false"
    (keydown.enter)="deleteUserFromDatabase(); deleteUser = false">
    <h3 class="modal-title">Delete {{focusUser.username}} from Database ?</h3>
    <div class="modal-body">
        Are you sure you want to delete this user ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button">Cancel</button>
        <button class="btn btn-warning" (click)="deleteUserFromDatabase()">YES</button>
    </div>
</clr-modal>