
<!doctype html>
<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>Description villes</h3>
    </div>
  </div>
</div>

<!-- *****************************************************************************************************************
TITLE & CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <h2>{{city.name}}</h2>
      <br>
      <div class="hline"></div>
      <p class="text-right">{{city.description}}</p>
      <a href="/#!/" class="btn btn-theme pull-right">Retour</a>

    </div>
    <div class="col-sm-6">
      <img ng-src="../images/cities/{{city.id}}.jpg" alt="" centered>
    </div>
  </div>
</div>
