<!doctype html>
<div ng-controller="MainCtrl">
  <!-- *****************************************************************************************************************
HEADERWRAP
***************************************************************************************************************** -->
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
          <h1>Smart Search</h1>
          <h2 class="pull-right">Moteur de recherche inspirationel permettant d'avoir accès à vos destination favorites.</h2>
          <br>
          <a class="btn btn-theme btn-lg" ng-href="/#!login">Commencer</a>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************************************************************************
SERVICE LOGOS
***************************************************************************************************************** -->
  <div id="service">
    <div class="container">
      <div class="row centered">
        <div class="col-md-4">
          <i class="fa fa-heart-o"></i>
          <h4>Vos destinations</h4>
          <p>Cette application vous permet d'acceder à une liste de destination adapté à vos choix et préférences.</p>
          <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-train"></i>
          <h4>Allez où vous voulez</h4>
          <p>Trouver en un instant les horaires de trains associé à chaque destination en fonction de vos préférences de départ</p>
          <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-flask"></i>
          <h4>Api accessible</h4>
          <p>Vous désirez exploiter le moteur de recherche pour votre application ? L'api associé est disponible en openSource.</p>
          <p><br/><a href="https://github.com/doudidas/smartSearchEngine" class="btn btn-theme" target="_blank">More Info</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- *****************************************************************************************************************
PORTFOLIO SECTION
***************************************************************************************************************** -->
  <div id="portfoliowrap">
    <div class="portfolio-centered">
      <div class="recentitems portfolio">
        <h4>Les villes</h4>
        <div class="hline"></div>
        <br><br>
        <div class="row">
          <div ng-repeat="city in cities">
            <div class="col-sm-3 centered">
              <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                  <img ng-src="../images/cities/{{city._id.$oid}}.jpg" alt="" height="100px">
                  <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                      <h3 class="a1" data-animate="fadeInDown">{{city.name}}</h3>
                      <a data-rel="prettyPhoto" class="dmbutton a2" data-animate="fadeInUp" ng-href="/#!/city/{{city._id.$oid}}"><i class="fa fa-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
