<!doctype html>
<div class="row" ng-controller="MainCtrl">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Connexion</h1>
      </div>
      <div class="panel-body">
        <p>
          Vous pouvez utiliser votre compte facebook ou votre compte SNCF afin d'avoir des propositions personalisées instantanées
        </p>
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-default" href="/#!form">je ne souhaite pas avoir de compte</a>
          </div>

          <div class="col-sm-6 border-left">
            <a class="btn btn-primary" href="/#!loading">
              <i class="fa fa-facebook-official fa-lg fa-fw" aria-hidden="true"></i> Completer avec Facebook
            </a>
            <a class="btn btn-primary" href="/#!loading">
               Se connecter avec un compte SNCF
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
