<!doctype html>
<div class="row" ng-controller="MainCtrl">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Connexion</h1>
      </div>
      <div class="panel-body">
        <p>
          Vous pouvez utiliser votre compte facebook ou votre compte SNCF afin d'avoir des propositions personalisées instantanées
        </p>

        <div class="btn btn-success btn-lg" ng-click="getMyLastName">
           Pouet
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a class="btn btn-default btn-lg" href="/#!form">je ne souhaite pas avoir de compte</a>
          </div>

          <div class="col-sm-6 border-left">
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
            </div>
          </div>
          <div id="status">
          </div>
         <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
         </fb:login-button>
         <pre>facebookCallBack = {{facebookCallBack | json}}</pre>
        </div>
      </div>
    </div>
  </div>
