<!--
  ~ Copyright (c) 2016 VMware, Inc. All Rights Reserved.
  ~ This software is released under MIT license.
  ~ The full license information can be found in LICENSE in the root directory of this project.
  -->
<h1 style="font-size: 4em">Welcome to my sandbox</h1>
<div class="clr-row">
    <div class="clr-col-10 clr-offset-1">
        <div class="card">
            <div class="card-block">
                <div class="clr-align-self-center">
                    <p>This website is a sandbox where I can experiment many things such as kubernetes
                        deployment and
                        mutli-tierapp with modern languages
                    </p>
                    <h1>Technologies used:</h1>
                    <br>
                    <div class="clr-row">
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/angular.svg">
                                <h2>Angular 6</h2>
                            </div>
                            <p>Language used for the front-end web app</p>
                            <br>
                        </div>
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/java.svg">
                                <h2>Java</h2>
                            </div>
                            <p>Language for the back-end. It allows to manage connexion between the front-end and
                                the database</p>
                            <br>
                        </div>
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/logo-mongodb.svg">
                                <h2>MongoDB</h2>
                            </div>
                            <p>Object related NoSQL database used to store all informations.</p>
                            <br>
                        </div>
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/kubernetes.svg">
                                <h2>Kubernetes</h2>
                            </div>
                            <p>Kubernetes is an open-source container-orchestration system for automating deployment,
                                scaling and management of containerized applications.</p>
                            <br>
                        </div>
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/yarn-kitten-full.png">
                                <h2>Yarn</h2>
                            </div>
                            <p>Angular package and environnement manager</p>
                            <br>
                        </div>
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/dropwizard.png">
                                <h2>Dropwizard</h2>
                            </div>
                            <p>Java API framework</p>
                            <br>
                        </div>
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/tensorFlow.svg">
                                <h2>TensorFlow</h2>
                            </div>
                            <p>TensorFlow™ is an open source software library for high performance numerical
                                computation</p>
                            <br>
                        </div>
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/raspberry-pi.svg">
                                <h2>Raspberry PI </h2>
                            </div>
                            <p>Micro computer to host everything</p>
                            <br>
                        </div>
                        <div class="clr-col-4" style="text-align: center">
                            <div>
                                <img class="description-icon" src="/images/clarity_logo.svg">
                                <h2>Clarity</h2>
                            </div>
                            <p>UX guidelines, HTML/CSS framework, and Angular components working together to craft
                                exceptional experiences</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="clr-row clr-justify-content-left">
            <div class="clr-col-10 clr-offset-1">
                <h1 style="font-size: 4em">Structure</h1>
                <p>You can have access more details on each part of my sandbox !</p>
            </div>
        </div>
        <div class="clr-row clr-justify-content-center">
            <div class="clr-col-3">
                <div class="card">
                    <div class="card-header">FrontEnd</div>
                    <div class="card-block">
                        <div class="clr-row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-col-3">
                <div class="card">
                    <div class="card-block">
                        <div class="clr-row">

                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-col-3">
                <div class="card">
                    <div class="card-block">
                        <div class="clr-row">

                        </div>
                    </div>
                </div>
            </div> 
        </div>-->
