<h1>Welcome to my sandbox</h1>
<p class="p1">This website is a sandbox where I can experiment many things such as kubernetes
    deployment and
    mutli-tier app with modern languages</p>
<div class="clr-row">
    <div *ngFor="let card of cards" class="clr-col-lg-6 clr-col-12">
        <div class="card">
            <div class="card-block">
                <div class="card-media-block">
                    <img src="{{card.image}}" class="card-media-image">
                    <div class="card-media-description">
                        <span class="card-media-title">
                            {{card.title}}
                        </span>
                        <span class="card-media-text">
                            {{card.body}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>